<div class="container-fluid">
      <div class="row-fluid">

        <div class="span3">          
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li><a>胡柚的前世今生&raquo;</a></li>
              <li><a>链接2&raquo;</a></li>
              <li><a>链接2&raquo;</a></li>
              <li><a>链接2&raquo;</a></li>            
            </ul>
         </div>
         </div>

        <div class="span9">
          <div class="well sidebar-nav">
            <h3 align="middle">胡柚的前世今生</h3>
            <p>学习哇</p>
          </div>
          <div class="row-fluid"> 
          </div>
        </div>

        <div class="span9">
          <div class="well sidebar-nav">
            <h3 align="middle">胡柚的前世今生</h3>
            <p>学习哇</p>
          </div>
          <div class="row-fluid"> 
          </div>
        </div>

        <div class="span9">
          <div class="well sidebar-nav">
            <h3 align="middle">胡柚的前世今生</h3>
            <p>学习哇</p>
          </div>
          <div class="row-fluid"> 
          </div>
        </div>

      </div><!--/row-->

      <hr>

    </div>