<div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li><a>视频1&raquo;</a></li>
              <li><a>视频2&raquo;</a></li>
              <li><a>视频3&raquo;</a></li>
              <li><a>视频4&raquo;</a></li>            
            </ul>
          </div>
        </div>
        <div class="span9">
          <div class="hero-unit">

            <video width="500" height="500" controls="controls">
  			<source src="http://v.youku.com/v_show/id_XNTQ0MjMzNjQ=.html">
				Your browser does not support the video tag.
			</video>

          </div>

          <div class="hero-unit">

            <video width="500" height="500" controls="controls">
  			<source src="http://v.youku.com/v_show/id_XNTQ0MjMzNjQ=.html"
  			poster="assets/huyou_1.jpg"/>
				
			</video>

          </div>
         
         <div class="hero-unit">

            <video width="500" height="500" controls="controls">
  			<source src="assets/huyou_3.flv" type="video/flv"
  			poster="assets/huyou_1.jpg"/>
				
			</video>

          </div>
        
        </div><!--/span-->
      </div><!--/row-->

      <hr>

    </div>