<header class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container">
<%= link_to "常山胡柚", '#', id: "logo" %>
<nav>
<ul class="nav pull-middle">
<li><%= link_to "主页", root_path %></li>
<li><%= link_to "胡柚介绍", introduction_path %></li>


</ul>
</nav>
</div>
</div>
</header>